/* .noBar ::-webkit-scrollbar {
    display: none;
} */
/* 
.nBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

.containerA {
    height: 100vh;
    width: 100%;
    position: relative;
    /* display: flex; */
    background: #05467c;
    /* overflow-x: hidden;
    overflow-y: scroll; */
}

.container {
    height: 300vh;
    width: 100%;
    /* display: flex; */
    background: #05467c;
    /* overflow-x: hidden;
    overflow-y: scroll; */
}

.containerB {
    height: 100vh;
    width: 100%;
    /* display: flex; */
    background: #05467c;
    /* overflow-x: hidden; */
    overflow-y: scroll;
}

.bottom {
    /* visibility: hidden; */
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18vh;
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.tengah {
    position: absolute;
    z-index: 4;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tengahAtas {
    color: #ffd907;
    font-weight: bold;
    font-size: 50px;
}

.tengahBawah {
    font-weight: bold;
    color: #ffd907;
    font-size: 40px;
}

/* 
.gambar {
    height: 100vh;
    width: 50%;
    padding: 7%;
    background-color: #05467c;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.gambarKiri {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    float: left;
    margin-top: 12vh;
    left: 0;
    top: 0;
}

.gambarKanan {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: right;
    float: right;
    margin-top: 12vh;
    right: 0;
    top: 0;
}

.titleNav {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.gambar1 {
    position: absolute;
    z-index: 1;
    animation: kiriSatu 5s infinite;
}

.gambar2 {
    position: absolute;
    z-index: 1;
    animation: kananSatu 5s infinite;
}

.gambar3 {
    position: absolute;
    z-index: 2;
    animation: kiriDua 5s infinite;
}

.gambar4 {
    position: absolute;
    z-index: 2;
    animation: kananDua 5s infinite;
}

.gambar5 {
    position: absolute;
    z-index: 3;
    animation: kiriTiga 5s infinite;
}

.gambar6 {
    position: absolute;
    z-index: 3;
    animation: kananTiga 5s infinite;
}

.navBar {
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 12vh;
}

.container .mainCard {
    position: absolute;
    z-index: 4;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.container .mainCard .cards {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
}

.mainCard .cards .card {
    display: flex;
    flex-wrap: wrap;
    width: 256px;
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

.cards .card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards .card .content .img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #202020;
    margin-bottom: 14px;
}

.card .content .img img {
    height: 100%;
    width: 100%;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    object-fit: cover;
}

.mainCard .cards .card:hover {
    transform: translateY(-15px);
    background: #e7e7e7;
}

.isi {
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.isiKiri {
    margin-top: -5%;
    float: left;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 40px;
    color: #ffd907;

}

.isiKanan {
    margin-top: -5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: #ffd907;

}

.sekteVideo {
    font-size: 60px;
    font-weight: bold;
    margin-left: 2%;
    text-decoration: underline;
    text-decoration-color: #ffd907;

}

.videoRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

@keyframes kiriSatu {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-30px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

@keyframes kiriDua {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(20px, 0px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(-20px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

@keyframes kiriTiga {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-30px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

@keyframes kananSatu {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(10px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

@keyframes kananDua {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(-5px, 0px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(5px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

@keyframes kananTiga {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(10px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

@media screen and (max-width:800px) {
    .tengah {
        height: 60vh;
    }

    .bottom {
        visibility: visible;
        top: 40vh;
    }

    .isi {
        position: absolute;
        width: 500px;
        margin-top: 12%;
    }

    .isiKiri {
        transform: translateX(-150px);
    }

    .isiKanan {
        transform: translateX(150px);

    }

    .tengahAtas {
        font-size: 20px;
    }

    .tengahBawah {
        font-size: 15px;
    }

    .gambarKiri {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-10px, 70px) scale(1.2, 1.2);
    }

    .gambarKanan {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0px, 280px) scale(1.8, 1.8);
    }

    .konten {
        position: absolute;
        top: 58vh;
        background: white;
        width: 100%;
        padding: 15px;
        padding-top: 5vh;
        z-index: 999;
    }

    .vids {
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(54, 53, 53, 0.353);
    }

    .title {
        font-weight: bold;
        font-size: large;
    }
}